*

{
  margin:0
  padding:0;
}
header{
  background-image:url(wp.jpg);
  height:180vh;
  background-size: cover;
  background-position:center;

}
.main-nav
{
  float: right;
  list-style: none
}
.main-nav li 
{
  display: inline-block;
}
.main-nav li a
{
  color:white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto",sans serif;
  font-size:15px;
}
.main-nav li.active a
{
  border:1px solid white;
}
.main-nav li a:hover
{
    border:1px solid white;
}
footer
{
  display: inline-block;
  list-style-type: none;
  margin-bottom: 1px;
  text-align:center;
}
.childhood-1
{
  background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}

.childhood
{
  background-color: #b3e6ff; 
  color: black;
  border: double #00e6e6;
  text-align: center;
  font-size: 28px;
  position: absolute;
  left: 30px;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  
}
.career
{
  background-color: #b3b3ff; 
  color: black;
  border: 6px;
  border-color: #e60000;
  border-left-style: groove;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: none;
  text-align: center;
  font-size: 35px;
  position: absolute;
  left: 30px;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 150px;
  margin-right: 130px;
  margin-left: 150px;
}
.career-1
{
   background-color: #000033  ; color: white;border: groove; ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 310px;
  margin-right: 270px;
  margin-left: 20px;
}
.career-2
{
   background-color: #00004d; color: white;border: groove; ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-right: 70px;
  margin-left: 270px;
}
.career-3
{
     background-color: #000066; color: white;border: groove; ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: -295px;
  margin-right: 270px;
  margin-left: 20px;
}
.p-1
{
  background-color: #9999ff  ; color: black;border: groove; ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 100px;
  margin-bottom: 450px;
  margin-right: 1200px;
  margin-left: 20px;
}
.p-2
{
  background-color: #9999ff  ; color: black;border: groove; ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 100px;
  margin-bottom: 215px;
  margin-right: 200px;
  margin-left: 20px;
}
.p-3
{
  background-color: #9999ff  ; color: black;border: groove; ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 100px;
  margin-bottom: -50px;
  margin-right: 1200px;
  margin-left: 20px;
}
.ps-1
{
  position: absolute;
  top: 25%;
  left: 83%;
}
.ps-2
{
  position: absolute;
  top: 65%;
  left: 5%;
}
.ps-3
{
  position: absolute;
  top: 113%;
  left: 83%;
}
.footer {
   position: absolute;
   display: block;
   left: 0;
   bottom: -60%;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font-size: 20px;
}
.majorworks
{
  background-color: #b3e6ff; 
  color: black;
  border: double #00e6e6;
  text-align: center;
  font-size: 28px;
  position: absolute;
  left: 30px;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.majorworks-1
{
   background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile
{
  background-color: #b3e6ff; 
  color: black;
  border: double #00e6e6;
  text-align: center;
  font-size: 28px;
  position: absolute;
  left: 30px;
  padding: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-1
{
   background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-2
{
   background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-3
{
   background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-4
{
   background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-5
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px; 
}
.profile-6
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-7
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-8
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-9
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-10
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-11
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-12
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}
.profile-13
{
 background-color: #1affc6; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 80px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 80px;
}\
.pic-1-1
{
position: absolute;
top: 25%;
left: 50%;
}
.pic-1
{
  color: white;
}
.album
{
  color: white;
}
.footer-1
{
   position: absolute;
   display: block;
   left: 0;
   bottom: -90%;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   font-size: 20px; 
}