{
  margin:0
  padding:0;
}
header{
  background-image:url(wp.jpg);
  height:150vh;
  background-size: cover;
  background-position:center;

}
.main-nav
{
  float: right;
  list-style: none
}
.main-nav li 
{
  display: inline-block;
}
.main-nav li a
{
  color:white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto",sans serif;
  font-size:15px;
}
.main-nav li.active a
{
  border:1px solid white;
}
.main-nav li a:hover
{
    border:1px solid white;
}
footer
{
  background-color: black;
  display: inline-block;
  list-style-type: none;
  margin-bottom: 1px;
  margin-left: 550px;
  text-align:center;
}
.childhood-1
{
  background-color: #ff6666; color: black;border: inset ; font-size: 20px; 
  bottom: 0;
  right: 0 ; 
  position:absolute;
  margin-top: 90px;
  margin-bottom: 140px;
  margin-right: 150px;
  margin-left: 80px;
  text-align: center;
}

.childhood
{
  background-color: #b3e6ff; 
  color: black;
  border: 3px dotted;
  text-align: center;
  font-size: 28px;
  position: absolute;
  left: 30px;
  padding: 0;
  margin-top: 150px;
  margin-bottom: 80px;
  margin-right: 150px;
  margin-left: 50px;
  font-family: "Comic Sans MS";
  
}

.img-1
{
  position: absolute;
  top: 92%;
  left: 25%;
  }
h2
{
  position: absolute;
  top: 83%;
  left: 36%;
  color: white;
  text-align: center;

}

  